{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<h1>TODO List</h1>

<div class="tablediv">
    <table>
        {%if tasks|length < 1 %} <h3>There are no task to show. Create one below</h3>
            {% else %}

            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.date_created.date()}}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br />
                    <a href="/update/{{task.id}}">update</a>
                </td>
            </tr>
            {% endfor %}
    {% endif %}
    </table>



    <table>
        {%if sensor_values|length < 1 %} <h3>There are no values of sensors to show. Create one below</h3>
            {% else %}

            <tr>
                <th>Temp</th>
                <th>Humidity</th>
                <th>Voltage</th>
                <th>Added</th>

            </tr>
            {% for sensor_value in sensors_for_tab %}
            <tr>
                <td>{{sensor_value.temp}}</td>
                <td>{{sensor_value.humidity}}</td>
                <td>{{sensor_value.voltage}}</td>
                <td>{{sensor_value.date_send.time()}}</td>

            </tr>
            {% endfor %}
    {% endif %}
    </table>



    <table>
        {%if voltage_off|length < 1 %} <h3>There are no values of voltage_off to show. Create one below</h3>
            {% else %}

            <tr>
                <th>ID отключения</th>
                <th>Time of voltage_off</th>

            </tr>
            {% for v_off in voltage_off %}
            <tr>
                <td>{{v_off.id}}</td>

                <td>{{v_off.date_send}}</td>


            </tr>
            {% endfor %}
    {% endif %}
    </table>






<div class="form">
<form action="/" method="post" >
        <input type="text" name="content" id="content" placeholder="Enter task" />
        <input type="submit" value="Add task" />
    </form>
    </div>

    <h1>Sensor's log</h1>

    <div class="chartdiv" style="height: 50vh;">
        <canvas id="myChart">


    <script>
        const labels = {{ labels2 | tojson}};
        const data = {
            labels: labels,
            datasets: [{
                label: 'График температуры',

                backgroundColor: 'crimson',
                borderColor: 'crimson',
                data: {{ data | tojson}},
                borderWidth: 5,
                cubicInterpolationMode: 'monotone',
            },
            {
                label: 'График напряжения сети',

                backgroundColor: 'Chocolate',
                borderColor: 'Chocolate',
                data: {{ voltage | tojson}},
                borderWidth: 5,
                cubicInterpolationMode: 'monotone',
            },
            {
                label: 'График влажности',

                backgroundColor: 'LimeGreen',
                borderColor: 'LimeGreen',
                data: {{ humidity | tojson}},
                borderWidth: 5,
                cubicInterpolationMode: 'monotone',
            }
            ]
        };
        const config = {
            type: 'line',
            data: data,

            options: { maintainAspectRatio: false }
        };
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
            </div>
</canvas>





{% endblock %}